# Cadena de conexión a MongoDB. Para desarrollo puedes usar MongoDB local
# (mongodb://127.0.0.1:27017/tortiweb) o un cluster gratuito de MongoDB Atlas.
MONGODB_URI=mongodb://127.0.0.1:27017/tortiweb

# Contraseña que debe introducir el admin para crear nuevas tortillas.
ADMIN_PASSWORD=tortilla
